* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
   
}

body {
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 20px;
 
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: rgb(150, 17, 43);
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border-color: crimson;
    border-radius: 5px;
}

table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid crimson;
}

th, td {
    padding: 10px;
    text-align: center;
}

canvas {
    display: block;
    margin: 20px auto;
    max-width: 100%; 
    height: auto;
}

@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    input {
        width: 90%;
    }
}
